include orgm/*.md
include orgm/*.json
include orgm/*.txt
include orgm/data/*
include orgm/stuff/*
include orgm/adm/*
include orgm/questionary/*
include orgm/*.example
recursive-include orgm *.md *.json *.txt *.html *.css *.js *.csv *.yaml *.yml *.example