include orgm/*.md
include orgm/*.json
include orgm/*.txt
include orgm/*.example
include orgm/*.sh
include orgm/*.bat
include orgm/data/*
include orgm/stuff/*
include orgm/adm/*
include orgm/apis/*
include orgm/apps/*
recursive-include orgm *.md *.json *.txt *.html *.css *.js *.csv *.yaml *.yml *.example